// app global css in Stylus form
// .title-icons:hover .icon-person::before{
//     font-family: 'mdi-v4';
//     content:'mdi-account-outline'
//     }

//   .title-icons:hover .icon-favoritem{
//       font-family: 'Material Icons Outlined';
//     content:"favorite" ;
//     font-weight: normal;
//     font-style: normal;
//     font-size: 26px;
//   } 
//   .title-icons:hover .icon-shopping_cart{
//     font-family: 'Material Icons';
    
//     font-weight: normal;
//     font-style: normal;
//     font-size: 26px;
//   } 