
$primary   = #ff4081;
.hint .q-field__bottom {
  
  color: red !important
  }
.q-field__messages {
  
  color: red !important
  }
  .q-stepper--horizontal .q-stepper__step-inner {
  padding-left: 3px !important;
  padding-right: 3px !important;
}